pkgbase = hotspot-resolver
	pkgdesc = Returns addresses for hostnames connected to an hotspot.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/hotspot-resolver
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = iproute2
	depends = libcrash-bash
	depends = net-tools
	depends = wireless-tools
	source = hotspot-resolver-aa5532cdd43e475b4ce4cf31629c9ba9944a3a2f.zip::https://github.com/themartiancompany/hotspot-resolver/archive/aa5532cdd43e475b4ce4cf31629c9ba9944a3a2f.zip
	sha256sums = 0fbc5af30325af46c1ca15cbdbbc6639c8b4f430a3fbc91af5269b6b53ad1451

pkgname = hotspot-resolver
